<h2>{{name}}</h2>
<h3>Albums</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Release Date</th>
      <th>Queue</th>
    </tr>
  </thead>
  {{#each albums}}
  <tr class="album-list">
    <td>
      {{#link-to 'album' this class="album-link"}}{{name}}{{/link-to}}
    </td>
    <td>{{date}}</td>
    <td>
      <button {{action "queue_album" this}}>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </td>
  </tr>
  {{/each}}
</table>
<h3>Non-Album Songs</h3>
{{render "songs" non_album_songs}}
