<div class="row" id="current-queue">
  <div class="col-md-12">
    <h3>Current queue <small>Grayed out songs have been played</small></h3>
    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Track</th>
          <th>Title</th>
          <th>Length</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
      {{#each}}
        <tr {{bind-attr class=":playlist-song played:active played:text-muted"}}>
          <td class="song-pos">{{pos}}</td>
          <td class="song-artist">{{song.artist.name}}</td>
          <td class="song-album">{{song.album.name}}</td>
          <td class="song-track">{{song.track}}</td>
          <td class="song-name">{{song.name}}</td>
          <td class="song-length">{{song.length_human}}</td>
          <td>
            <button {{action "dequeue_song" this}} class="close" type="button">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
