<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Title</th>
      <th>Length</th>
      <th>Filename</th>
      <th>Queue</th>
    </tr>
  </thead>
  <tbody>
  {{#each}}
    <tr class="album-song" {{bind-attr class="playing:success"}}>
      <td>{{artist.name}}</td>
      <td>{{album.name}}</td>
      <td>{{name}}</td>
      <td>{{length}}</td>
      <td>{{uri}}</td>
      <td>
        <button class="queue-btn" {{action "queue_song" this}}>
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
